.heading {
    font-size: 50px;
    width: 100%;
    margin: 0px;
    box-shadow: 30px 30px 20px rgb(63, 159, 172);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.note {
    font-size: 30px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-image: "background.jpg";
}
.footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    text-align: center;
    background-color: black;
    color: white;
    font-family:fantasy;
    font-size: 30px;
    text-shadow: 5px 5px 5px;
    line-height: 3;
}
canvas {
    box-shadow: 20px 20px 20px black;
    border: 3px solid rgb(9, 6, 58);
    border-radius: 40px;
    background-color: white;
}